<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="10" />
    </connectionManagement>
  </system.net>

  <appSettings>
    <add key="appId" value="7248944"/>
    <add key="username" value="" />
    <add key="password" value="" />
    <add key="token" value="919e91548d9269f7bf0bbb8c74af80cb95fff969b7aba1598228017a9740742098e409fa4e01d57a6e1fd" />
    <add key="ownerId" value="" />
    <add key="albumId" value="" />
    <add key="portion" value="500" />
    <add key="output" value="" />
    <add key="parallel" value="10" />
  </appSettings>
</configuration>
